In [1]:
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import pandas as pd

Поместить драйвер в рабочую папку!

Firefox driver:
https://github.com/mozilla/geckodriver/releases

Chrome driver:
https://chromedriver.storage.googleapis.com/index.html

In [2]:
def get_html_with_selenium(url, name): # функция получения html страницы с имененм name и по адресу url
    options = webdriver.FirefoxOptions()
    options.set_preference("general.useragent.override", "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36")

    try:
        driver = webdriver.Firefox(options=options)
        driver.get(url=url)
        time.sleep(5)
    
        with open(name, "w", encoding='UTF-8') as file:
            file.write(driver.page_source)
    
    except Exception as ex:
        print(ex)
    finally:
        driver.close()
        driver.quit()

In [24]:
def get_table_khl(url, name): # Функция получения таблицы khl  с нужной страницы и пгенерация html страницы с этой таблицы именем "name.html"
    html_name = name + ".html"
    get_html_with_selenium(url, html_name)
    with open(html_name, encoding='UTF-8') as file:
        src = file.read()

    soup = BeautifulSoup(src, "lxml")
    sp = soup.find("table").\
        text.strip().\
            split("\n")

    sp = list(filter(lambda x: x.strip() != "", sp))

    n = 0
    sp2 = []
    for i in range(int(len(sp)/19)):
        sp2.append(sp[n :n + 19])
        n = n + 19
    df = pd.DataFrame(sp2[1:], columns=sp2[0])
    df.index = df['Клуб']
    del df['Клуб']
    df = df.astype(int)
    df = df.reset_index()
    return df

In [25]:
sl = {# словарь определенных страниц khl
    "home" : "https://www.khl.ru/stat/teams/1217/home",\
      "road" : "https://www.khl.ru/stat/teams/1217/road"\
        }

Получение словаря таблиц khl

In [26]:
sl_tables = {}
for i in sl:
    sl_tables[i] = get_table_khl(sl[i], i)

In [27]:
sl_tables.keys()

dict_keys(['home', 'road'])

In [37]:
home = sl_tables['home'].sort_values(['Ибз', 'ЗШ'], ascending = [True, False])
home_best = home[home['Ибз'] <= 1][['Клуб', 'Ибз', 'ЗШ']].reset_index()
del home_best['index']
home_best

           Клуб  Ибз  ЗШ
0      Динамо М    0  85
1       Спартак    1  99
2  Металлург Мг    1  87
3      Авангард    1  83
4           СКА    1  77
5       Ак Барс    1  74
6       Трактор    1  70
7       ХК Сочи    1  70
8    Нефтехимик    1  67
9  Автомобилист    1  65

In [38]:
road = sl_tables['road'].sort_values(['Ибп', 'ПШ'], ascending = [True, False])
road_bad = road[road['Ибп'] <= 1][['Клуб', 'Ибп', 'ПШ']].reset_index()
del road_bad['index']
road_bad

           Клуб  Ибп   ПШ
0   Куньлунь РС    0  104
1         Барыс    0   99
2        Витязь    0   98
3        Сибирь    0   65
4    Нефтехимик    1   98
5       ХК Сочи    1   93
6       Спартак    1   72
7      Авангард    1   70
8       Адмирал    1   69
9          Лада    1   67
10         Амур    1   62

In [50]:
cross = home_best.merge(road_bad, how="cross")
cross['Игра'] = cross['Клуб_x'] + ' - ' + cross['Клуб_y']

In [52]:
cross

           Клуб_x  Ибз  ЗШ       Клуб_y  Ибп   ПШ                     Игра
0        Динамо М    0  85  Куньлунь РС    0  104   Динамо М - Куньлунь РС
1        Динамо М    0  85        Барыс    0   99         Динамо М - Барыс
2        Динамо М    0  85       Витязь    0   98        Динамо М - Витязь
3        Динамо М    0  85       Сибирь    0   65        Динамо М - Сибирь
4        Динамо М    0  85   Нефтехимик    1   98    Динамо М - Нефтехимик
..            ...  ...  ..          ...  ...  ...                      ...
105  Автомобилист    1  65      Спартак    1   72   Автомобилист - Спартак
106  Автомобилист    1  65     Авангард    1   70  Автомобилист - Авангард
107  Автомобилист    1  65      Адмирал    1   69   Автомобилист - Адмирал
108  Автомобилист    1  65         Лада    1   67      Автомобилист - Лада
109  Автомобилист    1  65         Амур    1   62      Автомобилист - Амур

[110 rows x 7 columns]